# API key from https://huggingface.co
HUGGINGFACE_API_KEY=hf_...

# upstash redis from https://console.upstash.com
UPSTASH_REDIS_REST_URL=https://...
UPSTASH_REDIS_REST_TOKEN=...

# base URL for server components fetching
# vercel: https://***.vercel.app
NEXT_PUBLIC_SITE_URL=...